/*===============
	leaders section 
     ===============*/
@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #e8b563;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: #555;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #e8b563;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


/* Demo purposes only */

body {
  background-color: #212121;
}





/*======================
	testimonial section 
    ===================*/

    /** 
/* 11. =testimonials
/* =================================================================== */

#testimonials {
	background: #e4b101;
	padding-top: 90px;
	padding-bottom: 112px;
	position: relative;
	min-height: 198px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

#testimonials .flex-container {
	width: 80%;
	max-width: 850px;
	margin: 0 auto;
}

#testimonial-slider {
	margin: 0 0 30px 0px;
	padding-left: 0;
	position: relative;
}

#testimonial-slider p {
	font: 27px/1.9 "merriweather-regular", sans-serif;
	color: #FFFFFF;
	padding: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#testimonial-slider .testimonial-author {
	display: block;
	font: 16px/24px "raleway-heavy", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 24px;
	color: #FFFFFF;
}

#testimonial-slider .testimonial-author img {
	width: 72px;
	height: 72px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 50%;
	border: 6px solid white;
	vertical-align: middle;
}

#testimonial-slider .testimonial-author .author-info {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#testimonial-slider .testimonial-author .author-info span {
	display: block;
	font: 14px/18px "raleway-bold", sans-serif;
	letter-spacing: 0;
	text-transform: none;
	color: rgba(0, 0, 0, 0.6);
}

/* control nav */
#testimonials .flex-control-nav {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: -72px;
}

#testimonials .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}

#testimonials .flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: white;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 20px;
}

#testimonials .flex-control-paging li a:hover {
	background: #CCC;
	background: rgba(0, 0, 0, 0.5);
}

#testimonials .flex-control-paging li a.flex-active {
	background: #fff;
	background: black;
	cursor: default;
}

/* media queries:
/* #testimonials / #testimonial-slider */

@media only screen and (max-width:1024px) {
	#testimonials .flex-container {
		max-width: 700px;
	}

	#testimonial-slider p {
		font: 25px/1.9 "merriweather-regular", sans-serif;
	}

}

@media only screen and (max-width:768px) {
	#testimonials .flex-container {
		width: 90%;
	}

	#testimonial-slider p {
		font: 22px/1.9 "merriweather-regular", sans-serif;
	}

}

@media only screen and (max-width:600px) {
	#testimonials .flex-container {
		width: 95%;
	}

	#testimonial-slider p {
		font: 20px/1.9 "merriweather-regular", sans-serif;
	}

	#testimonial-slider .testimonial-author {
		font: 14px/24px "raleway-heavy" sans-serif;
	}

	#testimonial-slider .testimonial-author img {
		width: 60px;
		height: 60px;
		border: 6px solid white;
	}

	#testimonial-slider .testimonial-author .author-info span {
		font: 12px/18px "raleway-bold", sans-serif;
	}

}

@media only screen and (max-width:400px) {
	#testimonials .flex-container {
		width: auto;
	}

	#testimonial-slider p {
		font: 18px/1.9 "merriweather-regular", sans-serif;
	}

}









.member {
	-webkit-filter: grayscale(100%);
	/* Chrome, Safari, Opera */
	filter: grayscale(100%);
	height: 60px;
}

.member:hover {
	-webkit-filter: grayscale(0%);
	/* Chrome, Safari, Opera */
	filter: grayscale(0%);
	transition: 1s;
}
